{% extends 'base.html.twig' %}

{% block title %}Gestion Services{% endblock %}

{% block body %}
<h1 class="display-4 py-1 mt-2 text-light text-center">Gestion Services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_service</th>
                <th>Libelle</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id_service }}</td>
                <td>{{ service.libelle }}</td>
                <td>{{ service.description }}</td>
                <td>
                    <a class="btn btn-warning" role="button" href="{{ path('service_edit', {'id_service': service.id_service}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" role="button" href="{{ path('service_new') }}">Ajouter un Service</a>
{% endblock %}
