{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1 class="display-4 py-1 mt-2 text-light text-center">Gestion Réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Client</th>
                <th>Type Service</th>
                <th>Num Reservation</th>
                <th>Date </th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.client }}</td>
                <td>{{ reservation.service }}</td>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dater ? reservation.dater|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.etat }}</td>
                
                <td>
                    
                    <a class="btn btn-warning" role="button" href="{{ path('reservation_edit', {'client':reservation.client.id_cli}) }}" >Modifier</a>
                   
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" role="button" href="{{ path('reservation_new') }}">Ajouter une Réservation</a>
{% endblock %}
