{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Client</th>
                <th>Type Service</th>
                <th>Num Reservation</th>
                <th>Date </th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.client }}</td>
                <td>{{ reservation.service }}</td>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dater ? reservation.dater|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.etat }}</td>
                
                <td>
                    
                    <a href="{{ path('reservation_edit', {'client':reservation.client.id_cli}) }}">edit</a>
                    
                </td>
                <td>
                    <form method="post" action="{{ path('reservation_delete', {'client': reservation.client.id_cli}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.client.id_cli) }}">
                        <button class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
