{% extends 'base.html.twig' %}

{% block title %}Gestion Client{% endblock %}

{% block body %}
    <h1 class="display-4 py-1 mt-2 text-light text-center">Gestion Clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_cli</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id_cli }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a class="btn btn-warning" role="button" href="{{ path('client_edit', {'id_cli': client.id_cli}) }}">Modifier</a>
                </td>
              
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" role="button" href="{{ path('client_new') }}">Ajouter un Client</a>
{% endblock %}
