{% extends 'base.html.twig' %}

{% block title %}Gestion Client{% endblock %}

{% block body %}
    <h1>Gestion Client</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_cli</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id_cli }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a href="{{ path('client_show', {'id_cli': client.id_cli}) }}">show</a>
                    <a href="{{ path('client_edit', {'id_cli': client.id_cli}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
